<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{fragment :: head-section}"></head>

<body>
    <link rel="stylesheet" href="/css/form.css">
    <header data-th-fragment="header-section">
        <h1>Mo blog</h1>
    </header>


    <main>
        <section>
            <div data-th-replace="~{fragment :: link-section(url='/blogs',name='Back to Blog')}"></div>

            <div class="form-container">
                <h2>Create  blog</h2>
                <hr>
                <form action="/add-blog" method="post">
                    <div class="form-group">
                        <label for="input-1">Enter heading</label>
                        <input type="text" class="form-control" id="input-1">
                        </div>
                    <div class="form-group">
                        <label for="input-2">Enter description</label>
                        <textarea name="" id="input-2"  rows="5"class="form-control"></textarea>
                        </div>

                    <input type="submit">
                </form>
            </div>
        </section>
    </main>
</body>