<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/utils.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mobile.css">
    <title>Mo Blog</title>
    <link rel="stylesheet" href="/css/blogs.css">
</head>
<body>
    <header>
        <h1>Mo Blog</h1>
    </header>


    <main>
            <section>
                    <div class="link-container">
                        <a href="/add-blog">Create blog</a>
                        </div>

                        <div class = "blogs">
                            <div class="blog">
                                <h2>01</h2>
                                <h2>Heading01</h2>
                                <p>LoremLorem, ipsum dolor sit amet consectetur adipisicing elit. Porro veritatis qui, molestias perferendis molestiae quidem officia minus? Excepturi, placeat voluptate? Tempore, illo quidem!</p>
                                <a href="#">Explore</a>
                        </div>

                        <div class = "blogs">
                            <div class="blog">
                                <h2>02</h2>
                                <h2>Heading02</h2>
                                <p>oremLorem, ipsum dolor sit amet consectetur adipisicing elit. Porro veritatis qui, molestias perferendis molestiae quidem officia minus? Excepturi, placeat voluptate? Tempore, illo quidem!</p>
                                <a href="#">Explore</a>
                        </div>

                        <div class = "blogs">
                            <div class="blog">
                                <h2>03</h2>
                                <h2>Heading03</h2>
                                <p>oremLorem, ipsum dolor sit amet consectetur adipisicing elit. Porro veritatis qui, molestias perferendis molestiae quidem officia minus? Excepturi, placeat voluptate? Tempore, illo quidem!</p>
                                <a href="#">Explore</a>
                        </div>
                            
            </section>
    </main>
</body>
